.body-color-white {
    background: #ffffff;
}

.body-color-gray {
    background: #eeeeee;
}

.single-post-wrapper {
    padding-top: 0;
}

.single-post-wrapper>.container {
    background: #ffffff;
    padding-top: 30px;
}

@media (max-width: 416px) {
    .single-post-wrapper>.container {
        padding-top: 0px;
    }
}

.announcement-bar {
    background: #fef2e2;
    color: #000000;
    text-align: center;
    padding: 5px;
}

.regular-category-content-section .bg-red span {
    background: #001e42;
    color: #ffffff;
    padding: 7px 10px;
}

.regular-category-content-section .bg-red {
    border-bottom: 2px solid #001e42;
}

.text-navi {
    color: #001e42!important;
}

.event-single-section {
    background: #f6f7f8;
    padding-top: 30px;
}

.header-middle .search-box {
    position: relative;
}

.header-middle .search-input {
    position: absolute;
    top: 0px;
    right: 5px;
    box-sizing: border-box;
    width: 0px;
    height: 40px;
    padding: 0 20px;
    outline: none;
    font-size: 14px;
    border-radius: 50px;
    color: #29313a;
    transition: all 0.8s ease;
}

.header-middle .btn-search {
    background: #002a5c;
    transition: all 0.8s ease;
    border-radius: 50%;
    position: relative;
}

.header-middle .search-input.active {
    width: 350px;
    right: 70px;
}

.header-middle .btn-search.animate {
    /* transform: rotate(-360deg); */
    /* right: 100px; */
}


/* .event-single-section .ts-title-item{
	background: #fff;
    border-bottom: 1px solid rgba(46,62,72,.12);
   padding-top: 24px;
    padding-bottom: 24px;
	
} */

.event-single-section .recent-events-title {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.nuce-news-btn-readmore {
    background: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    position: absolute;
    right: 0;
}

.nuce-news-btn-readmore:hover {
    text-decoration: underline;
    color: #a30713!important;
}

.event-time-location {
    border-radius: 8px;
    background: #fff;
    padding: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.event-time-location table {
    width: 100%;
}

.announcement-bar i {
    margin-right: 12px;
    color: #f98630;
}

.footer-logo-side p {
    margin: 0!important;
}

.single-article-tin-tuc-section .col-lg-9 {
    padding-right: 80px;
}

.logo-pc h3 {
    color: #ffffff;
    font-weight: 700;
    width: 506px;
    font-size: 22px;
}

.post-content-area ul {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170%;
    color: #000000;
}

.logo-pc h4 {
    color: #ffffff;
    font-weight: 600!important;
    font-size: 17px;
    width: 400px;
}

.nav-search-nuce>form {
    width: 100%;
    height: 110px;
    padding: 0 auto;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 99;
}

.nav-search-nuce {
    height: 70px;
    float: right;
    z-index: 19998;
}

.right-menu li .nav-search-nuce {
    height: 60px;
}

.right-menu li .nav-search-nuce .nav-search-button {
    line-height: 0!important;
    background: transparent!important;
    width: auto!important;
    height: 19px!important;
}

.right-menu li .nav-search-nuce .nav-search-button {
    line-height: 0!important;
    background: transparent!important;
    width: auto!important;
    height: 19px!important;
    color: #fff;
    font-size: 17px;
}

.event-single-section .regular-post-section img {
    height: 180px!important;
    width: 100%;
}

.events-category-section .post-content {
    margin-bottom: 20px;
}

.logo-text {
    /* height: 80px;  */
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-content {
    padding: 24px 30px!important;
    padding-top: 10px!important;
}

.footer-logo-side h3 {
    color: #ffffff;
    font-weight: 700;
    width: 350px;
    font-size: 17px;
    margin-bottom: 0.8rem;
}

.footer-logo-side h4 {
    color: #ffffff;
    font-weight: 600!important;
    font-size: 13px;
    width: 300px;
}

.footer-logo-side .nav-brand {
    padding: 0!important;
}

.thong-bao-section .post-title-nuce-news-thongbao {
    margin-bottom: 0px!important;
}

.thong-bao-section .media-body-home {
    margin-left: opx!important;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-logo-side .logo-text {
    margin-top: 0px!important;
}

.footer-quick-link {
    margin-right: auto;
    margin-left: auto;
}

.footer-logo-side p {
    overflow: auto;
}

.footer-logo-side img {
    height: 56px;
    width: auto;
    margin-right: 15px!important;
}

.footer-section {
    height: 100%;
    background: #002147;
}

.footer-logo-side table td {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 32px;
    padding-left: 0!important;
}

.ts-overlay-style .item:before {
    height: 115px!important;
}

.home-header-section .nav-search>form {
    height: 36px;
    width: calc(100% - 120px);
    border: 1px solid #999;
}

.home-header-section .nav-search-button input {
    font-size: 15px;
    width: auto;
    height: 36px;
    border: 1px solid #e00;
    background: #e00;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: -120px;
    color: #fff;
}

.home-header-section .nav-search-button {
    line-height: normal;
    width: auto;
    height: 36px;
    background: transparent;
}

.social-link img {
    height: 24px!important;
    width: 24px;
    float: left;
    margin-right: 10%;
}

.home-header-section .nav-search-inner input[type=text],
.nav-search-inner input[type=search] {}

.header-middle .nav-brand img {
    margin-right: 15px;
    height: 70px;
    margin-top: 15px;
}

.home-header-section .search-form-wrapper form input[type="search"] {
    border: 1px solid #999;
    height: 36px;
    padding: 8px 17px;
    width: calc(100% - 120px);
}

.home-header-section .nav-search-inner {
    width: 100%;
    height: auto;
    display: table;
    margin: 0;
}

.social-link {
    margin-right: 20px;
    width: 120px;
    margin-top: 20px;
}

.social-link>p {
    margin-bottom: 10px!important;
}

.right-side-bar2-section .active h2 {
    color: white!important;
    font-size: 18px!important;
}

.right-side-bar2-section .btn-tag .active {
    background: #001e42;
}

.nav-dropdown {
    width: 250px;
}

.event-image img {
    height: auto;
    width: 100%;
}

.single-article-section iframe {
    max-width: 100%;
    max-height: -webkit-fill-available;
}

.single-article-section table {
    width: 100%!important;
    height: auto!important;
}

.nav-dropdown>li>a:hover {
    background: #002a5c!important;
    color: #ffffff!important;
}

.nav-dropdown>li>a:hover:before {
    width: 0!important;
}

.right-side-bar2-section .ts-title-item {
    margin-bottom: 24px!important;
}

.right-side-bar2-section .ts-grid-box {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0px!important;
}

.post-cat-nuce-news-02 {
    margin-bottom: 0px!important;
}

.home-slider-section {
    padding: 0px;
    padding-top: 0px !important;
}

.list-style-dot-left img {
    height: 5px;
    width: 5px;
}

.noti-type-image img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.r-d-section .ts-grid-box .ts-post-thumb img {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 200px;
    object-fit: cover;
}

.r-d-4-section .ts-grid-box .ts-post-thumb img {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 200px;
    object-fit: cover;
}

.home-header-section .nav-overlay-panel {
    top: 70px;
}

.r-d-section .post-title-nuce-news-03 {
    height: 70.4px!important;
}

.r-d-4-section .post-title-nuce-news-03 {
    height: 70.4px!important;
}

.button-read-more-2 {
    color: #001e42;
    text-transform: uppercase;
    font-weight: bold;
}

.regular-post-section .ts-title-item {
    border-bottom: 2px solid #001e42;
}

.regular-post-section .post-title-nuce-news-03 {
    font-size: 12px;
}

.regular-post-section .ts-grid-box.ts-grid-content-1 .post-content {
    padding: 10px!important;
}

.regular-post-section .ts-title-item h2 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}

.r-d-4-section .nuce-news-read-more {
    top: unset!important;
    bottom: 0px;
}

.top-news-2-section .nuce-news-read-more {
    top: unset!important;
    bottom: -6px!important;
}

.top-news-2-section .ts-grid-box.ts-grid-content-1 .post-content {
    padding-top: 15px!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
    padding-bottom: 5px!important;
    border: 1px solid #ededed;
}

.button-read-more-2 {
    /* border: 2px solid #001e42; */
    padding: 10px;
    background: #eeeeee;
}

.button-read-more-3 {
    color: #001e42;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background: #d1d1d1;
}

.button-read-more-2:hover {
    cursor: pointer;
}

.top-news-section {
    padding-top: 48px!important;
    padding-bottom: 48px!important;
}

.top-news-2-section .bg-red {
    border-bottom: 2px solid #001e42;
}

.hot-title-section .hot-item img {
    height: 182px;
    object-fit: center;
}

.tin-tuc-section .bg-red {
    border-bottom: 2px solid #001e42;
}

.right-side-bar2-section .post-date-info {
    color: #241F20!important;
}

.right-side-bar2-section .module {
    margin-bottom: 0px;
}

.top-news-2-section .bg-red span {
    background: #001e42;
    color: #ffffff;
    padding: 7px 10px;
}

.tin-tuc-section .bg-red span {
    background: #001e42;
    color: #ffffff;
    padding: 7px 10px;
}

.media-body-image {
    margin-left: 24px;
    padding-right: 16px;
}

.single-post-right-side-bar .media-body a:hover {
    color: #a30713!important;
}

.bg-nuce-navi {
    background: #002147;
    color: #ffffff;
    padding: 12px;
    text-align: center;
}

.bg-nuce-red {
    background: #001e42;
    color: #ffffff;
    padding: 12px;
    text-align: center;
}

.home-icon img {
    height: 20px;
    width: 20px;
}

.single-post-right-side-bar .ts-title-item h2 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
}

.single-post-right-side-bar .post-content img {
    width: 100%!important;
    height: 150px!important;
    margin-bottom: 10px!important;
}

.single-post-right-side-bar .media-body a {
    font-size: 14px!important;
}

.tab-content .media-body {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E5E5E5;
}

.social-tool-bar {
    padding-top: 250px;
    position: -webkit-sticky;
    position: sticky;
    top: -50px;
}

.home-ads-section .owl-nav {
    top: 40%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.home-ads-section .owl-next {
    float: right;
}

.home-ads-section .owl-prev {
    float: left;
    left: -15px;
}

.nuce-news-category-video-bg h2 {
    color: #ffffff;
    text-transform: uppercase;
}

.nuce-news-category-video-bg>.container-nuce-news {
    padding-top: 70px;
    padding-bottom: 70px;
}

.nuce-news-category-video-bg:before {
    background: linear-gradient(to bottom, rgb(0 94 202 / 80%) 55%, rgba(0, 94, 202, 0.8) 55%)!important;
    height: 200px;
}

.home-quick-link-2 {
    margin-top: 20px;
}

.home-slider-section .owl-stage-outer {
    margin-bottom: 8px;
}

.home-ads-section .owl-next img {
    height: 20px!important;
}

.home-ads-section .owl-prev img {
    height: 20px!important;
}

.social-item {
    height: 25px;
    width: 25px;
    position: relative;
    background: #eeeeee;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
}

.social-item:before {
    position: absolute;
    transform: translateX(-50%);
}

.nav-dropdown:empty {
    background: red;
}

.social-item:hover {
    background: #007dff!important;
}

.social-tool-bar li {
    text-align: center;
}

.single-post-right-side-bar .media-body h4 {
    margin-bottom: 5px!important;
}

.nuce-news-category-video-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gallery/Rectangle14.png);
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
    background-size: cover;
}

.single-post-right-side-bar .media-body p {
    color: #000000!important;
    font-size: 14px!important;
    margin: 10px!important;
    margin-left: 0px!important;
}

.single-post-right-side-bar .right-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}

.single-post-right-side-bar .media-body a {
    color: #241F20;
}

.right-side-bar2-section .ts-title-item h2 {
    font-size: 18px!important;
    margin-bottom: 0px!important;
}

.right-side-bar2-section .ts-title-item {
    padding: 8.6px 5px!important;
}

.top-news-section .post-title {
    line-height: 1.4!important;
}

.post-cat-nuce-news-02 {
    color: #9F9F9F!important;
    font-size: 15px;
    line-height: 24px;
    color: #232323;
    left: -4px;
    top: -6px;
}

.quick-link-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.r-d-section .media-body-home a {
    font-size: 18px;
    line-height: 22px;
    color: #241F20;
}

.r-d-4-section .media-body-home a {
    font-size: 18px;
    line-height: 22px;
    color: #241F20;
}

.r-d-4-section .ts-grid-box.ts-grid-content-1 .post-content {
    padding-bottom: 10px!important;
}

.r-d-section .post-content {
    border-bottom: 1px solid #cbcccc;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.r-d-4-section .post-content {
    border-bottom: 1px solid #cbcccc;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.quick-link-item h4 {
    text-transform: uppercase;
    color: #001e42;
    margin-top: 20px;
    font-size: 12px!important;
    font-weight: bold!important;
}

.quick-link-item img {
    height: 30px;
}


/* .nav-menu > li > a .submenu-indicator:before {
    content: ''!important;
} */

.align-to-left {
    float: left!important;
}

.header-middle.v2 {
    margin-bottom: 0px!important;
    background: #002a5c!important;
    padding: 0;
}

.right-menu li .nav-search .nav-search-button {
    line-height: 0!important;
    background: transparent!important;
    width: auto!important;
    height: 19px!important;
}

.right-menu li a {
    line-height: 0!important;
    border-left: none!important;
    color: white!important;
    width: auto!important;
    height: auto!important;
    font-size: 19px!important;
}

.right-menu li span {
    color: #ffffff;
}

.right-menu li {
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
}

.right-menu li:nth-child(3) {
    position: relative;
}

.right-menu {
    margin-top: 25px;
}


/* .nav-brand img {
	margin-right:30px;
} */

.navbar-standerd.nav-bar-dark .navigation {
    background: #001e42!important;
}

.hot-description h3 {
    color: #002147!important;
    font-size: 26px!important;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hot-title-section .owl-item {
    padding: 10px!important;
}

.hot-description p {
    padding: 0px!important;
}

.hot-title-section {
    background: #EEEEEE;
    padding-top: 25px;
    padding-bottom: 15px;
}

.owl-nav img:hover {
    opacity: 1;
}

.home-slider-section .owl-nav {
    top: 40%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.home-slider-section .owl-next {
    float: right;
    right: 15px;
}

.home-slider-section .owl-prev {
    float: left;
}

.videos-category-section iframe {
    height: 230px!important;
    width: 100%!important;
}

.category-header-section .nav-menu>li>a {
    margin-right: 0px!important;
    margin-left: 0px!important;
    color: #002147;
}

.category-header-section .nav-menu>li>a:hover {
    color: #002147!important;
}

.quick-link-row>.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.quick-link-row>.row>a:first-child {
    margin-left: 0!important;
}

.quick-link-row>.row>a:last-child {
    margin-right: 0!important;
}

#home-header-slider .owl-dots .owl-dot span {
    background: #eeeeee;
}

.nuce-col {
    flex: 0 0 14.2%;
    max-width: 14.2%;
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 10px;
}


/* .home-header-section .logo-mobile img {
	margin-top: 10px;
} */

.right-menu .megamenu-panel {
    z-index: 99999!important;
    right: -150%!important;
    width: 300px;
    border-radius: 5px;
    padding: 24px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.right-menu .megamenu-panel .col-md-4 {
    margin-bottom: 10px;
    cursor: pointer;
}

.mobile-app img {
    width: 100px;
    height: auto!important;
    float: left;
    margin-right: 10%;
}

.home-header-section .nav-menu>li>a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: #a30713;
    content: '';
    opacity: 0;
    visibility: hidden;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.home-header-section .nav-menu>li>a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.home-header-section .nav-menu>li>a {
    padding-right: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0px;
}

.mobile-app {
    width: 230px;
    margin-top: 20px;
}

.home-header-section .nav-menu>li .nav-dropdown li a {
    color: #001e42;
    font-weight: bold!important;
    white-space: pre-line;
    position: relative;
    padding: 14px 34px !important;
}

.home-header-section .nav-menu>li .nav-dropdown li a span {
    /* margin-left: 10px; */
    overflow-wrap: break-word;
}

.article-social {
    float: right;
}

.article-social li {
    display: inline-block;
}

.article-social li a svg {
    height: 15.725px;
    width: auto;
}

.zaloicon {
    position: absolute;
    height: 25px;
    width: 25px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.card {
    background: #fff;
}

.card h2 {
    margin: 0;
    padding: 0 1rem;
}

.card .title {
    color: #001e42;
    font-size: 15px;
    font-weight: bold;
    height: 120px;
    line-height: normal;
}

.card .actions {
    align-items: center;
    padding: 0.5rem 1rem;
}

.tin-tuc-section .nuce-news-read-more {
    top: unset!important;
    bottom: -6px!important;
}

.thong-bao-section .post-content {
    border-bottom: 1px solid #ededed;
    margin-bottom: 0!important;
}

.post-title-nuce-news-thongbao a:hover {
    color: #a30713!important;
}

.thong-bao-ads-section img {
    width: 100%;
    height: auto;
}

.thong-bao-section .ts-grid-style-2 {
    padding-right: 30px;
}

.thong-bao-section .post-content:last-child {
    border-bottom: none;
}

.tin-tuc-section .ts-grid-box.ts-grid-content-1 .post-content {
    padding-top: 15px!important;
    padding-right: 20px!important;
    padding-left: 10px!important;
    padding-bottom: 5px!important;
}

.img-avatar {
    position: absolute;
    padding: 5px;
    background: #a30713;
    top: 75%;
    left: 37%;
    z-index: 2;
}

.text-justify {
    text-align: justify;
}

.home-quick-link-2 svg {
    height: 30px;
    width: auto;
    fill: #001e42;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.home-quick-link-2 .nuce-col:hover svg {
    fill: #a30713!important;
}

.home-quick-link-2 .nuce-col:hover .quick-link-item h4 {
    color: #a30713!important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.event-img {
    height: 160px!important;
    object-fit: cover;
}

.title-total {
    padding: 3em 1.5em 1.5em 1.5em;
}

.img-portada {
    width: 100%;
}

.nuce-news-category-video {
    padding: 0!important;
}

.portada {
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
}

.img-side {
    flex: 100%!important;
    max-width: 100%!important;
}

.content-side {
    flex: 100%!important;
    max-width: 100%!important;
}

.events-category-section .owl-nav {
    top: 40%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.events-category-section .owl-prev {
    float: left;
    left: -25px;
}

.events-category-section .owl-next {
    float: right;
    right: -5px;
}

.events-category-section .owl-next img {
    height: 20px!important;
}

.events-category-section .owl-prev img {
    height: 20px!important;
}

.article-social li a i {
    font-size: 16px;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px;
    margin-right: 8px;
}

.mobile-app>p {
    margin-bottom: 10px!important;
}

.right-menu .megamenu-panel img {
    height: auto;
    width: 40%;
    margin-bottom: 5px;
}

.right-menu .megamenu-panel h6 {
    font-size: 12px;
    color: #000000;
}

.tin-tuc-section .hot-news-section {
    margin-bottom: 34px;
}

.right-menu li:nth-child(3):hover .megamenu-panel {
    display: block!important;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.mobile-view li {
    margin-left: 30px;
    cursor: pointer;
}

.mobile-view li a {
    font-size: 30px;
}

.pagination li.active a,
.pagination li:hover a {
    background: #a30713!important;
}

.tin-tuc-section .col-lg-3 {
    margin-bottom: 24px;
}

.home-header-section .nav-dropdown>li {
    position: unset!important;
}

.home-header-section .nav-dropdown .nav-dropdown {
    background-color: #fdfdfd;
    /* top: 0;
    height:100%; */
    max-height: 538.4px;
}

.pagination-hidden {
    display: none;
}

.pagination-span a.active,
.pagination-span a:hover,
#pagination a:hover {
    background: #a30713;
    color: #ffffff!important;
}

.home-header-section .nav-dropdown .nav-dropdown .nav-dropdown .nav-dropdown {
    overflow-y: auto;
}

@-webkit-keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.right-menu li:nth-child(3):hover i {
    color: #a30713!important;
}

.right-menu li:nth-child(3):hover span {
    color: #a30713!important;
}

.right-menu .submenu-indicator {
    display: none!important;
}

.navigation-portrait .nav-menu {
    width: 100%;
    background: #232323;
    padding: 16px;
}

.navbar-standerd.nav-bar-dark .navigation-portrait .nav-menus-wrapper {
    background: transparent!important;
    top: 0!important;
}

#btn-toggle-menu .label-menu {
    display: none;
}

.nav-toggle .label-menu {
    position: absolute;
    top: 24px;
    left: -3px;
    color: #ffffff;
    display: block!important;
    font-size: 12px!important;
}

@media (min-width: 1600px) {
    .button-btn-read-more-mb {
        display: none;
    }
    .single-post-right-side-bar .post-list-item {
        margin-left: -70px;
    }
    .item .post-content .post-title-nuce-news-03 {
        margin-bottom: 55px;
    }
    #container-menu>.nav-menu>li>a>.submenu-indicator {
        display: none;
    }
    .nuce-col {
        margin-bottom: 0px;
    }
    .home-quick-link-2 {
        padding-bottom: 20px!important;
    }
    .navbar-standerd .navigation {
        height: auto!important;
    }
    #home-header-slider .item {
        min-height: 500px!important;
    }
    .home-header-section .nav-menu>li>a {
        margin-right: 35px!important;
    }
    .home-header-section .nav-menu>li:last-child>a {
        margin-right: 0px!important;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .button-btn-read-more-mb {
        display: none;
    }
    .single-post-right-side-bar .post-list-item {
        margin-left: -70px;
    }
    .item .post-content .post-title-nuce-news-03 {
        margin-bottom: 55px;
    }
    #container-menu>.nav-menu>li>a>.submenu-indicator {
        display: none;
    }
    .nuce-col {
        margin-bottom: 0px;
    }
    .home-quick-link-2 {
        padding-bottom: 10px!important;
    }
    .navbar-standerd .navigation {
        height: auto!important;
    }
    .home-header-section .nav-menu>li>a {
        margin-right: 35px!important;
    }
    .home-header-section .nav-menu>li:last-child>a {
        margin-right: 0px!important;
    }
    #home-header-slider .item {
        min-height: 400px!important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .button-btn-read-more-mb {
        display: none;
    }
    .search-input.active {
        width: 280px;
        right: 60px;
    }
    .single-post-right-side-bar .post-list-item {
        margin-left: -70px;
    }
    .col-event-noti {
        padding-left: 0!important;
    }
    .col-top-news {
        padding-right: 30px!important;
    }
    .item .post-content .post-title-nuce-news-03 {
        margin-bottom: 55px;
    }
    #container-menu>.nav-menu>li>a>.submenu-indicator {
        display: none;
    }
    .nuce-col {
        margin-bottom: 0px;
    }
    .home-quick-link-2 {
        padding-bottom: 10px!important;
    }
    #home-header-slider .item {
        min-height: 350px!important;
    }
    .navbar-standerd .navigation {
        height: auto!important;
    }
    .home-header-section .nav-menu>li>a {
        margin-right: 20px!important;
    }
    .home-header-section .nav-menu>li:last-child>a {
        margin-right: 0px!important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .button-btn-read-more-mb {
        display: none;
    }
    .search-input.active {
        width: 250px;
        right: 70px;
    }
    .single-post-right-side-bar .post-list-item {
        margin-left: -70px;
    }
    .col-event-noti {
        padding-left: 0!important;
    }
    .col-top-news {
        padding-right: 30px!important;
    }
    .item .post-content .post-title-nuce-news-03 {
        margin-bottom: 55px;
    }
    #container-menu>.nav-menu>li>a>.submenu-indicator {
        display: none;
    }
    .nuce-col {
        margin-bottom: 0px;
    }
    .home-quick-link-2 {
        padding-bottom: 10px!important;
    }
    #home-header-slider .item {
        min-height: 320px!important;
    }
    .navbar-standerd .navigation {
        height: auto!important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nuce-news-btn-readmore {
        display: none;
    }
    .footer-logo-side img {
        height: 46px;
    }
    .footer-logo-side h3 {
        font-size: 15px;
    }
    .footer-logo-side h4 {
        font-size: 12px;
    }
    .single-article-tin-tuc-section .single-post-right-side-bar .media-body {
        padding-right: 0px;
        margin-left: 0px;
    }
    .single-article-tin-tuc-section .single-post-right-side-bar .media-body-image {
        padding-right: 0px;
        margin-left: 0px;
    }
    .single-article-tin-tuc-section .col-lg-9 {
        padding-right: 15px;
    }
    .nav-menu>li>a {
        font-size: 16px;
    }
    .home-header-section .submenu-indicator-chevron {
        display: none;
    }
    .home-header-section .submenu-indicator:before {
        content: '\f107';
        font-size: 22px;
        font-family: 'FontAwesome';
        font-weight: 1000;
    }
    .home-header-section .submenu-indicator {
        margin: 10px 24px;
    }
    .home-header-section .nav-menu {
        background: #ffffff!important;
    }
    .home-header-section .nav-menu>li>a {
        color: #001e42!important;
        padding-left: 24px;
    }
    .home-header-section .home-icon {
        display: none;
    }
    .nav-search>form {
        height: 145px;
    }
    .right-menu li .nav-search .nav-search-button {
        font-size: 30px;
    }
    .navigation-portrait .nav-search {
        padding: 0;
        margin: 0;
    }
    .mobile-view {
        display: block!important;
    }
    .footer-quick-link {
        margin-right: unset!important;
    }
    #home-header-slider .owl-dots {
        top: 280px!important;
    }
    .home-quick-link-2 {
        padding-top: 40px;
    }
    .ts-featured,
    .posts-ad,
    .ts-overlay-style,
    .ts-grid-box:last-of-type,
    .ts-newslatter-content {
        margin-bottom: unset!important;
    }
    .post-title-nuce-news-02 {
        margin-bottom: 0px!important;
    }
    .nuce-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .top-news-section .ts-post-thumb>a>.img-nuce-col-3 {
        display: none!important;
    }
    .top-news-section .post-cat-nuce-news-02 {
        display: none!important;
    }
    .top-news-section .nuce-news-read-more {
        display: none!important;
    }
    .top-news-2-section .ts-post-thumb>a>.img-nuce-col-3 {
        display: none!important;
    }
    .top-news-2-section .post-cat-nuce-news-02 {
        display: none!important;
    }
    .top-news-2-section .nuce-news-read-more {
        display: none!important;
    }
    .ts-grid-box.ts-grid-content-1 .post-content {
        padding: 16px 10px!important;
    }
    #home-header-slider .item {
        min-height: 280px!important;
    }
    .header-middle {
        display: none!important;
    }
}

@media (min-width: 542px) and (max-width: 768px) {
    .nuce-news-btn-readmore {
        display: none;
    }
    .footer-logo-side img {
        height: 46px;
    }
    .footer-logo-side h3 {
        font-size: 15px;
    }
    .footer-logo-side h4 {
        font-size: 12px;
    }
    .single-article-tin-tuc-section .single-post-right-side-bar .media-body {
        padding-right: 0px;
        margin-left: 0px;
    }
    .single-article-tin-tuc-section .single-post-right-side-bar .media-body-image {
        padding-right: 0px;
        margin-left: 0px;
    }
    .single-article-tin-tuc-section .col-lg-9 {
        padding-right: 15px;
    }
    .nav-menu>li>a {
        font-size: 16px;
    }
    .event-content-details {
        flex-direction: column-reverse;
    }
    .event-time-location {
        margin-bottom: 24px;
    }
    .home-header-section .submenu-indicator-chevron {
        display: none;
    }
    .home-header-section .submenu-indicator:before {
        content: '\f107';
        font-size: 22px;
        font-family: 'FontAwesome';
        font-weight: 1000;
    }
    .home-header-section .submenu-indicator {
        margin: 10px 24px;
    }
    .home-header-section .nav-menu {
        background: #ffffff!important;
    }
    .home-header-section .nav-menu>li>a {
        color: #001e42!important;
        padding-left: 24px;
    }
    .home-header-section .home-icon {
        display: none;
    }
    .nav-search>form {
        height: 80px;
    }
    .right-menu li .nav-search .nav-search-button {
        font-size: 30px;
    }
    .navigation-portrait .nav-search {
        padding: 0;
        margin: 0;
    }
    .mobile-view {
        display: block!important;
    }
    #calendar>table>tr {
        display: grid!important;
    }
    #calendar>table>tr>.fc-header-center {
        text-align: unset!important;
    }
    #home-header-slider .owl-dots {
        top: 200px!important;
    }
    .home-quick-link-2 {
        padding-top: 40px;
    }
    .ts-featured,
    .posts-ad,
    .ts-overlay-style,
    .ts-grid-box:last-of-type,
    .ts-newslatter-content {
        margin-bottom: unset!important;
    }
    .post-title-nuce-news-02 {
        margin-bottom: 0px!important;
    }
    .nuce-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .top-news-section .ts-post-thumb>a>.img-nuce-col-3 {
        display: none!important;
    }
    .top-news-section .post-cat-nuce-news-02 {
        display: none!important;
    }
    .top-news-section .nuce-news-read-more {
        display: none!important;
    }
    .top-news-2-section .ts-post-thumb>a>.img-nuce-col-3 {
        display: none!important;
    }
    .top-news-2-section .post-cat-nuce-news-02 {
        display: none!important;
    }
    .top-news-2-section .nuce-news-read-more {
        display: none!important;
    }
    .ts-grid-box.ts-grid-content-1 .post-content {
        padding: 16px 10px!important;
    }
    #home-header-slider .item {
        height: 200px!important;
    }
    .header-middle {
        display: none!important;
    }
}

@media (max-width: 542px) {
    .nuce-news-btn-readmore {
        display: none;
    }
    .single-post-wrapper .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .single-post-wrapper .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .article-social li a i {
        margin-right: 0px;
    }
    .footer-logo-side img {
        height: 46px;
    }
    .footer-logo-side h3 {
        font-size: 15px;
    }
    .footer-logo-side h4 {
        font-size: 12px;
    }
    .single-article-tin-tuc-section .single-post-right-side-bar .media-body {
        padding-right: 0px;
        margin-left: 0px;
    }
    .single-article-tin-tuc-section .single-post-right-side-bar .media-body-image {
        padding-right: 0px;
        margin-left: 0px;
    }
    .single-article-tin-tuc-section .col-lg-9 {
        padding-right: 15px;
    }
    .footer-logo-side .nav-brand img {
        margin-top: -30px!important;
    }
    .nav-menu>li>a {
        font-size: 16px;
    }
    .logo-text {
        display: inherit;
    }
    .event-content-details {
        flex-direction: column-reverse;
    }
    .event-time-location {
        margin-bottom: 24px;
    }
    .navigation-portrait .nav-dropdown .submenu-indicator {
        right: 0;
    }
    .home-header-section .submenu-indicator-chevron {
        display: none;
    }
    .home-header-section .submenu-indicator:before {
        content: '\f107';
        font-size: 22px;
        font-family: 'FontAwesome';
        font-weight: 1000;
    }
    .home-header-section .submenu-indicator {
        margin: 10px 24px;
    }
    .home-header-section .nav-menu {
        background: #ffffff!important;
    }
    .home-header-section .nav-menu>li>a {
        color: #001e42!important;
        padding-left: 24px;
    }
    .home-header-section .home-icon {
        display: none;
    }
    .nav-search>form {
        height: 80px;
    }
    .right-menu li .nav-search .nav-search-button {
        font-size: 30px;
    }
    .navigation-portrait .nav-search {
        padding: 0;
        margin: 0;
    }
    .mobile-view {
        display: block!important;
    }
    .mobile-view .search-form-wrapper {
        display: block!important;
    }
    #calendar>table>tr {
        display: grid!important;
    }
    #calendar>table>tr>.fc-header-center {
        text-align: unset!important;
    }
    .home-quick-link-2 {
        padding-top: 40px;
    }
    /* .nav-brand img {
	margin-bottom: 20px!important;
	} */
    .ts-featured,
    .posts-ad,
    .ts-overlay-style,
    .ts-grid-box:last-of-type,
    .ts-newslatter-content {
        margin-bottom: unset!important;
    }
    .post-title-nuce-news-02 {
        margin-bottom: 0px!important;
    }
    .nuce-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .top-news-section .ts-post-thumb>a>.img-nuce-col-3 {
        display: none!important;
    }
    .top-news-section .post-cat-nuce-news-02 {
        display: none!important;
    }
    .top-news-section .nuce-news-read-more {
        display: none!important;
    }
    .top-news-2-section .ts-post-thumb>a>.img-nuce-col-3 {
        display: none!important;
    }
    .top-news-2-section .post-cat-nuce-news-02 {
        display: none!important;
    }
    .top-news-2-section .nuce-news-read-more {
        display: none!important;
    }
    .ts-grid-box.ts-grid-content-1 .post-content {
        padding: 16px 10px!important;
    }
    .footer-logo-side h3 {
        width: 100%;
    }
    .footer-logo-side h4 {
        width: 100%;
    }
    .nav-brand {
        display: inline-block!important;
    }
    .owl-dots {
        display: none!important;
    }
    #home-header-slider .item {
        height: 100px!important;
    }
    .header-middle {
        display: none!important;
    }
}
.home-post-section .hot-item img {
    height: 250px;
    object-fit: center;
}
.home-post-section .hot-description h3{
    height: 3em; 
  line-height: 1.5em; 
  overflow: hidden;
}
.home-post-section .hot-description p{
    height: 4.5em; 
  line-height: 1.5em; 
  overflow: hidden;
}
#nuce-ads-slider .hot-item img{
 height: 120px;
 width: auto !important;
}